{
    "extends": "airbnb",
    "rules": {
      "comma-dangle": 0,
      "import/prefer-default-export": 0,
      "react/forbid-prop-types": 0,
      "jsx-a11y/anchor-is-valid": [ "error", {
        "components": [ "Link" ],
        "specialLink": [ "to", "hrefLeft", "hrefRight" ],
        "aspects": [ "noHref", "invalidHref", "preferButton" ]
      }]
    }
}
  