.nameselection {
    &__actions {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__action {
        display: flex;
        align-items: center;
        flex: 0 0 45%;
        justify-content: center;
    }

    &__info {
        margin-bottom: 2rem;
    }
}