.footer {
    background-color: $color-four;
    padding: 3rem 2rem;
    font-size: 2rem;
    color: $color-grey-light-1;
    border-radius: 3px;
    transition: .5s all;
    margin-top: 3rem;
    text-align: center;
}