
.header {
    text-align: center;
    padding: 0 10rem;
    font-size: 1.2rem;
    height: 5rem;
    position: relative;
    border-radius: 3px;
    transition: all .5s;    
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 3rem;
    color: $color-primary;

    &__content {
        @include center-horisontal-vertical;
    }

    &:hover {
        transform: translateY(1rem) scale(1.01);
    }
}