.nameactions {

    display: flex;
    flex-direction: column;

    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 1rem;
    }

    &__button {

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__back {
        align-self: flex-end;
    }
}