*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1 rem is
    font-size: 62.5%;

    @include respond-phone {
        font-size: 50%;
    }

}

body {
    box-sizing: border-box;
    background-color: $color-secondary;
    color: $color-primary;
}

a,
a:visited {
    text-decoration: none;
}

$bp-largest: 75em;
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.35em; // 500px